.app-breadcrumb {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  align-self: center;
}
.app-breadcrumb .no-redirect {
  color: #3d9eff;
  cursor: text;
}
.home-link {
  color: #334495;
}
